* text=auto
*.meta text=auto
*.cs text diff=csharp
*.exe -text
*.dll -text
*.pdf -text
*.dylib -text
*.png -text
*.nupkg -text
*.jpg -text
*.psd -text
*.so -text
*.so.meta text=auto
*.so.[0-9] -text
*.so.[0-9].meta text=auto
*.so.[0-9]*[0-9] text
