*.bak
*.ide/
*.iml
*.ipr
*.iws
*.nuget.props
*.nupkg
*.pdb
*.pidb
*.psess
*.resources
*.sln.docstates
*.suo
*.svclog
*.user
*.user
*.userosscache
*.userprefs
*.vsp
*.vspscc
*.vspx
*.vssscc
.builds
.directory
.DS_Store
**/.idea/contentModel.xml
**/.idea/dataSources.ids
**/.idea/dataSources.local.xml
**/.idea/dataSources/
**/.idea/dbnavigator.xml
**/.idea/dictionaries
**/.idea/dynamic.xml
**/.idea/gradle.xml
**/.idea/libraries
**/.idea/mongoSettings.xml
**/.idea/shelf
**/.idea/sqlDataSources.xml
**/.idea/tasks.xml
**/.idea/uiDesigner.xml
**/.idea/usage.statistics.xml
**/.idea/workspace.xml
**/.idea/*.iml
**/.idea/caches/build_file_checksums.ser
**/.idea/httpRequests
**/.idea/modules
**/.idea/modules.xml
**/.idea/replstate.xml
**/.idea_modules/
.sync/
.vs/
.vscode/
/.nuget
/_ReSharper.Caches/
/packages/
[Bb]uild[Ll]og.*
[Tt]est[Rr]esult*/
bin/
obj/
project.lock.json
TestResult.xml
/Client