<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
    <packageSources>
        <add key="Local" value="./" />
        <add key="Silk.NET" value="https://pkgs.dev.azure.com/UltzOS/Silk.NET/_packaging/Experimental/nuget/v3/index.json" />
    </packageSources>
</configuration>